header {
  text-align: center;
  background-color: black;
  background-size: cover;
}
h1 {
  color: green;
  text-align: left;
  background-color: purple;
}
img {
  border: 120px solid yellow;
}
.center {
  display: inline-block;
  margin-left: auto;
  margin-left: auto;
  width: 40%;
}
