header {
  text-align: center;
  background: url('https://images.pexels.com/photos/346885/pexels-photo-346885.jpeg?auto=compress&cs=tinysrgb&h=350.jpeg');
  background-size: cover;
}
h1 {
  color: blue;
  text-align: center;
  background-color: orange;
}
img {
  border: 120px solid yellow;
}
.center {
  display: inline-block;
  margin-left: auto;
  margin-left: auto;
  width: 40%;
}
